/* .poka:hover{
   background-color: yellow;
} */
/* .wrapper{
   display: grid;
   grid-template-columns: 70% 30%; */
   /* grid-column-gap:1em ;
   grid-row-gap: 1em; ; */
   /* grid-gap: 1em;
}

.wrapper > div{
   background: #eee;
   padding:1em;
}
.wrapper > div:nth-child(odd){
   background: #ddd;
} */

/* .container{ */
   /* display: grid;
   height:100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
} */


/* ======== */
/* Signup Start*/
/* ======== */

.Heading{
   color:red;

}

.h1{
   color: black;
   margin-left: 13rem;
   margin-top: 3rem;
   font-size: 25px;
}
.card{
   border-radius:15px  ;

   border:solid black 1px;
   /* opacity: 0.9; */
color:black;
  margin-top: 8rem;
   margin-left: 10rem;
}

.input-signup{
   border-top:none ;
   margin-top: 1rem;
/* background-color:; */
padding-left: 7rem;
padding-right: 7rem;
}

.input-password{
   margin-top: 4rem;
   padding-left: 7rem;
padding-right: 7rem;
}

.button{
   height: 50px;
   width: 80px;
   border-radius: 15px; 
   margin-left: 17rem;
}
.card:hover{
   box-shadow: 4px 4px 4px 4px;
}
   
   .Footer{
      margin-bottom: 2rem;
   }
.h1:hover{
   color: black;
}
/* ========= */
/* Login Start*/
/* ========= */
.Heading-login{
   : 5rem;
}

.h2{
   margin-left: 13rem;
   margin-top:rem;
   color: black;
}
.h2:hover{
   color: white;
}

.card-login{
   padding-top: 4rem;
   border-radius: 15px;
   background-color: lightskyblue;
border: solid black 1px;
   /* opacity: 0.9; */
  margin-top: 8rem;
   margin-left: 10rem;
}

/* .card-login:hover{
   box-shadow: 4px 4px 4px 4px;
} */
.input-signup-login{
   padding-left: 7rem;
padding-right: 7rem;
   margin-top: 2rem;
}
.input-password-login{
   padding-left: 7rem;
padding-right: 7rem;
   margin-top: 2rem;
}

.button-login{
   height: 50px;
   width: 80px;
   border-radius: 15px;
   margin-top: 3rem;
   margin-left: 17rem;
}
.Footer-login{
   margin-bottom: 2rem;
}
